
/* 	CSS for Packets Nav */

    .packets-container{
        position: absolute;
        top: 0;
        left: 80vw;
        width: 11em;
        color: yellow;
        z-index: 10; 
    }
    .videos-container{
        position: absolute;
        top: 0;
        left: 20vw;
        width: 11em;
        color: yellow;
        z-index: 10;
      /*  border: 1px solid red; */
    } 
    .datasheets-container{
        position: absolute;
        top: 0;
        left: 50vw;
        width: 12em;
        color: yellow;
        z-index: 10; 
    }
    .training-container{
        position: absolute;
        top: 10vh;
        left: 0;
      /*  width: 13em; */
        color: yellow;
        z-index: 10;
      /*  border: 1px solid red; */
    }
    .testing-container{
        position: absolute;
        top: 10vh;
        right: 0; /* -8.5em;*/
      /*  width: 11em; */
        color: yellow;
        z-index: 10;
      /*  border: 5px solid red; */
    } 
        .packets-label-container, .videos-label-container, .datasheets-label-container{
            position: relative; 
            display: flex;
            flex-direction: column;
            align-items: center;
            cursor: pointer; 
        /*	height: 3em; */
            width: 100%;
        /*	margin-left: -0.2em; */
        /*	padding-top: 2em; */
         /*   padding-bottom: 1em; */
        /*    margin-top: -0.5em; */ /*0.2em; */
         /*   padding: 1em; */
            background-color: rgb(0, 0, 50); 
          /*  border: 3px solid green; */
            z-index: 15;
        }
        .training-label-container, .testing-label-container{
            position: relative;
            cursor: pointer; 
        	width: 2em;
            height: 100%;
            padding-right: 0.02em; 
            background-color: rgb(0, 0, 50); 
         /*   border: 3px solid green; */
            z-index: 15;
        }
            .packets-label, .videos-label, .datasheets-label{
                font-size: 1.5em;
                font-weight: bolder;
                cursor: pointer; 
            /*	height: 3em; */
            /*	width: 12em; */
            /*   padding-top: 0.5em; */
                padding: 0 1em; 
            /*	background-color: black; */
            /*	border: 3px solid orange; */ 
                z-index: 15;
            }            
            .training-label, .testing-label{
                font-size: 1.5em;
                font-weight: bolder;
                cursor: pointer; 
                writing-mode: vertical-lr;
                text-orientation: upright;
                padding-bottom: 20em;
                z-index: 15;
            }

        .hide-packets-dropdown{
            margin-top: -13em; 
        }
        .hide-videos-dropdown{
            margin-top: -14em; 
        }
        .hide-datasheets-dropdown{
            margin-top: -21em; 
        }
        .hide-training-dropdown{
            margin-left: -13em; 
        }
        .hide-testing-dropdown{
            margin-left: 13em; 
        }

        .packets-dropdown, .videos-dropdown, .datasheets-dropdown{
            position: relative;
            font-size: 1.3em;
            font-weight: bold;
            color: white;
            display: flex;
            flex-direction: column;
            transition: margin-top 0.7s;
          /*  transition: margin-bottom 0.7s; */
            padding: 0 0.5em;
            background-image: radial-gradient(blue, black);
            border: 2px solid yellow;
            border-radius: 5px; 
            z-index: 5;
        }
        .training-dropdown{
            position: absolute;
            top: 0;
            left: 1.5em;
            font-size: 1.3em;
            font-weight: bold;
            width: 10em;
            color: white;
            display: flex;
            flex-direction: column;
            transition: margin-left 0.7s;
            padding: 0 0.5em;
            background-image: radial-gradient(blue, black);
            border: 2px solid yellow;
            border-radius: 5px; 
            z-index: 5;
        }
        .testing-dropdown {
            position: absolute;
            top: 0;
            left: -11.2em;
            font-size: 1.3em;
            font-weight: bold;
            width: 10em;
            color: white;
            display: flex;
            flex-direction: column;
            transition: margin-left 0.7s;
          /*  transition: margin-bottom 0.7s; */
            padding: 0 0.5em;
            background-image: radial-gradient(blue, black);
            border: 2px solid yellow;
            border-radius: 5px; 
            z-index: 5;
        }
        .datasheets-dropdown{
            width: 8em;
        }
        .datasheets-dropdown label,
        .training-dropdown label,
        .testing-dropdown label{
            margin-left: -1.5em;
            font-size: 1.1em;
            font-weight: bolder;
            color: yellow;

        }
            .packets-dropdown li, 
            .videos-dropdown li, 
            .datasheets-dropdown li, 
            .training-dropdown li, 
            .testing-dropdown li{
                margin-left: -1em;
                margin-bottom: 0.3em;
                cursor: pointer;
            }
            .edu-nav-dropdown ul{
                margin-left: -0.5em;
                padding-right: 0.5em;
            }
            .packets-dropdown li:hover, 
            .videos-dropdown li:hover, 
            .datasheets-dropdown li:hover, 
            .training-dropdown li:hover, 
            .testing-dropdown li:hover{
                color: yellow;
            }

           /*     .edu-nav-dropdown a:hover{
                    text-decoration: none;
                    color: yellow;
                }

            .edu-nav-dropdown li{
                font-size: 1.3em; 
                font-weight: bolder;
                color: yellow;
                cursor: pointer;
                margin-bottom: 0.1em;
            }
            .edu-nav-dropdown li:hover{
                color: orangered;
            }

                .edu-second-dropdown{
                    background-image: radial-gradient(blue, black);
                    border: 2px solid yellow;
                    border-radius: 5px;
                }
                .edu-second-dropdown-hidden{
                    display: none;
                }
                .edu-packets{
                    position: absolute;
                    left: -6.1em;
                    top: 1em;  2.2em; 
                }
                .edu-training{
                    position: absolute;
                    left: -7.6em;
                    top: 2.3em;
                }
                .edu-resources{
                    position: absolute;
                    left: -9em;
                    top: 4.6em;
                } */


    /* End CSS for EDU Nav */
          /*  .edu-dropdown-label-selected{
                color: orangered;
            } */

    /* CSS for EDU Navs: Videos and DataSheets */
    .videos-datasheets-navs-container{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 94vw;
        display: flex;
        justify-content: space-around;
     /*   margin: 1em;
        padding: 1em;
        border: 3px solid red; */
        z-index: 20;
    }
        .videos-label, .datasheets-label{
            color: yellow;
        }
    /*End CSS for EDU Navs: Videos and DataSheets */
