/*  CSS for media Queries width= 20in plus: 
 *    1) Global Navigation
 *    2) Home page
 *    3) All pages that uses class="page";
 */

@media only screen and (min-width: 22in) {
/* For Global Nav */
        .nav-label-container{
            width: 12.3rem;
            height: 3.7rem;
        }

            .nav-label{
                font-size: 2.8rem;
            }

        .hide-dropdown{
            margin-top: -17rem;
        }

        .nav-dropdown{
            width: 12rem;
            padding: 0.7rem;
        }
            .dept-label{
                font-size: 1.5rem;
            }
    
            .nav-dropdown a{
                font-size: 1.5rem;
            }
/* End Global Nav */
}