
    body{
    	background: black;
    	box-sizing: border-box;
    	margin: 0;
    	padding: 0;
		/*border: 3px solid red; */
    } 

/* CSS for Nav */
	.nav-cntnr{
		position: relative;
		top: 0;
		left: 1em;
    	width: 11em;
    /*	height: 20em; */
    /*	padding: 0.5em; */
		color: yellow;
	/*	border: 3px solid blue; */
	 /*   background-color: darkblue; */
		z-index: 100; 
	}

		.nav-label-container{
			position: relative;
			height: 3em;
			width: 11.1em;
			margin-left: -0.1em;
		/*	cursor: pointer; */
		/*	margin-top: -3em; */
		/*	padding-top: 2em; */
			background-color: rgb(0, 0, 50); 
		/*	border: 2px solid green; */
			z-index: 15;
		}

		    .nav-label{
				display: block;
				text-align: center;
		    	font-size: 2em;
		    	font-weight: bolder;
		    	cursor: pointer; 
			/*	height: 3em; */
		    	width: 100%; 
		    	padding-top: 0em;
		    /*	padding: 0 1em; */
		    /*	background-color: black; */
		    /*	border: 3px solid orange; */
		    }

	    .hide-dropdown{
	    	margin-top: -13em;
	    }

	    .nav-dropdown{
	    	font-size: 1.3em;
	    	font-weight: bold;
	    	display: flex;
	    	flex-direction: column;
	    	transition: margin-top 0.7s;
	    	padding: 0.5em;
	    /*	margin-top: -2px; */
			background-image: radial-gradient(blue, black);
            border: 2px solid yellow;
			border-radius: 5px; 
	    }

	    	.nav-dropdown a{
	    		text-decoration: none;
	    		color: white;
	    	}

				.nav-dropdown a:hover{
					text-decoration: none;
					color: yellow;
				}

	    	.nav-dropdown label{
	    		font-size: 1.3em;
	    		font-weight: bolder;
	    		color: yellow;
	    	}

	    	.dept-container{
	    		padding-left: 1em;
	    	/*	border: 3px solid green; */
	    	}


/* End CSS for Nav */

