
    body{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        background-image: url(low-noise-darker.png);
    }

    ul {
        margin:0;
        padding:0;
        list-style:none;

    }
  
    .menu-container-lev-2{
        position: relative;
    }

    .menu-label-lev-1{
        width: 8.2rem;
        display: block;
        text-align: center;
        cursor: pointer;
        color: yellow;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: black;
		/*background-image: radial-gradient(blue, black);*/
    }
        .menu-label-lev-1:hover{
            color: #FFD700;
        }
        .menu-label-lev-2{
            display: block;
            text-align: center;
            cursor: pointer;
            color: white;
            font-weight: bold;
            padding: 0 0.5rem;
        }
        .menu-label-lev-2{
            font-size: 1.4rem;
        }
            .menu-label-lev-2:hover{
                color: yellow;
                margin-left: 0.3rem;
            }

        .menu-dd{
			background-image: radial-gradient(blue, black);
            padding: 0.5rem 0;
            border: 2px solid yellow;
            border-radius: 10px;
        }
            .menu-dd li{
                margin-bottom: 0.3rem;
            }

            .menu-dd-lev-1{
                width: 9.8rem;
            }
            .menu-dd-lev-1-hidden{
                margin-top: -12rem;
            }
            .menu-dd-lev-2 li{
                display: block;
                text-align: center;
            }
                .menu-dd-lev-2 li a{
                    text-decoration: none;
                    color: white;
                    font-size: 1.45rem;
                    font-weight: bold;
                }
                    .menu-dd-lev-2 li a:hover{
                        color: yellow;
                        margin-left: 0.3rem;
                    }
            .intro-menu-dd-lev-2{
                width: 8.8rem;
            }
            .arch-menu-dd-lev-2{
                width: 7rem;
            }
            .tech-menu-dd-lev-2{
                width: 9.5rem;
            }
            .media-arts-menu-dd-lev-2{
                width: 7rem;
            }
        .menu-dd-lev-2{
            position: absolute;
            top: 0rem;
            left: 9.5rem;
            z-index: 10;
        }
        .menu-dd-lev-2-hidden{
            display: none;
        }
   
   
   /*body{
        margin:0;
        padding: 0;
        box-sizing: border-box;
        background-image: url(low-noise-darker.png);
    }
    .edu-contents{
        height: 85vh;
        width:93vw;
        position: relative;
        background-image: url("media/imgs/low-noise-darker.png");
        background-size: cover;
        color:  black;
        overflow: auto;
        padding: 1rem;
    }

		#hardware-dropdown-id{
			position: absolute;
			top: 1.5rem;
			width: 20rem;
			padding-left: 1rem;
			left: 7rem;
			z-index: 100;
		}
		.hardware-dropdown-id label{
			display: block;
			text-align: center;
		}

    ul {
        margin:0;
        padding:0;
        list-style:none;
    }
    label{
        cursor: pointer;
    }
		
	.training-container{
    margin-top: -0.5rem;
	z-index: 10;
	}
		.training-nav-label{
			padding: 0 2.7rem;
			padding-top: 0.3rem;
			margin-top: 0.1rem;
			display: block;
			text-align: center;
			width: 100%;
			margin-top: -0.1rem;
            padding-top: 0.3rem;
			font-size: 1.5rem;
			font-weight: bold;
			color: yellow;
			cursor: pointer;
			background-color: black; 
	        border: 1px solid red;
		}

		.training-dropdown{
			position: relative;
			width: 100%;
			font-size: 1.3rem;
			font-weight: bold;
			color: white;
			transition: margin-top 1.7s;
			transition: opacity 1.7s;
			opacity: 1;
			background-image: radial-gradient(blue, black);
			border: 2px solid yellow;
			border-radius: 10px; 
			z-index: -5;
			padding-bottom: 1.5rem; 
		}
        .training-dropdown label{
			display: block;
			text-align: center;
            width: 100%;
			font-size: 1.3rem;
			font-weight: bold;
            color: white;
            background-color: transparent;
            border: 1px solid greenyellow;
        }
            .training-dropdown label:hover{
                color: yellow;
            }
		.training-nav-dropdown{
			position: relative;
		}
            .intro-sub-nav-dropdown{
                left: 8.7rem;
                top: -0.3rem;
            }
            .architect-hardware-equipment-sub-nav-dropdown{
                left: 9.6rem;
                top: 2rem;
            }
            .architect-hardware-components-sub-nav-dropdown{
                left: 9.6rem;
                top: 2.5rem;
            }
            .architect-hardware-sub-nav-dropdown{
                left: 8.9rem; /*9.3rem;*/
                top: 1.5rem;
            }
            .media-arts-sub-nav-dropdown{
                left: 9.6rem;
                top: 7.5rem;
            }
            .tech-sub-nav-dropdown{
                left: 9.6rem;
                top: 5.7rem;
            }
            .architect-sub-nav-dropdown{
                left: 10.7rem;
                top: 1.8rem;
            }

            .hide-training-nav-dropdown{
                margin-top: -13rem;
            }

			.hide-architect-hardware-equipment-sub-nav-dropdown,
			.hide-architect-hardware-components-sub-nav-dropdown,
			.hide-architect-hardware-sub-nav-dropdown,
			.hide-media-arts-sub-nav-dropdown,
			.hide-tech-sub-nav-dropdown,
			.hide-architect-sub-nav-dropdown,
			.hide-intro-sub-nav-dropdown{
				display: none;
				opacity: 0;
			}
			
		.sub-nav label{
			display: block;
			width: 100%;
			text-align: center;
			font-size: 1.5rem;
			font-weight: bold;
			color: white;
			cursor: pointer;
			margin-top: 0.2rem;
		}
		.sub-nav label:hover{
			color: yellow;
		}
		.separator-label{
			display: block;
			text-align: center;
			font-size: 1.7rem;
			font-weight: bold;
			color: yellow;
		}*/

		/*begin styling for new Training Nav  
		#main-menu-id{

		}
		.training-dropdown-hidden{
			margin-top: -12rem;
		}
		.sub-menu-container{
			position: relative;
            width: 100%;
            border: 1px dashed red;
		}
		.sub-menu{
			position: absolute;
			top: 0rem;
			left: 10rem;
			display: inline-block;
			text-align: center;
			z-index: 10;
            font-size: 1.2rem;
			font-weight: bold;
			color: white;
			transition: margin-top 1.7s;
			transition: opacity 1.7s;
			opacity: 1;
			background-image: radial-gradient(blue, black);
			border: 2px solid yellow;
			border-radius: 10px;
			padding-bottom: 1.5rem; 
            list-style-type: none; 
            margin: 0;
            padding: 1.5rem;
		}
            .sub-menu li{
                display: block;
                text-align: center;
                width: 100%;
                border: 1px solid aqua;
                padding: 0.5rem 1rem;
            }
                .sub-menu li a{
                    text-decoration: none;
                    color: white;
                }
                    .sub-menu li a:hover{
                        color: yellow;
                    }
		.sub-sub-menu{
			position: absolute;
			top: 0rem;
			left:3rem;
			z-index: 10;
		}
		.sub-menu-hidden{
			display: none;
		}

*/