/*  base CSS for: 
 *    1) Global Navigation
 *    2) Home page
 *    3) All pages that uses class="page";
 */

    * {
        box-sizing: border-box;
        margin:0;
        padding:0; 
    }

    html, body {
    	width:100vw;
        height: 100vh;
        font-size: 16px;
        font-family:  Arial, Helvetica, sans-serif;
        background-color:black;
    }

/* End CSS for all pages */

/* CSS for the mainContainer (class="mainCntnr") */
    .main-cntnr {
        width: 100%;
        height: 99vh;
        overflow: hidden;
        background: black;
    }
/* End CSS for mainContainer */

/* CSS for Nav */
    .nav-cntnr{
        position: relative;
        top: 0;
        left: 1rem;
        width: 11rem;
        color: yellow;
        z-index: 100; 
    }

        .nav-label-container{
            position: relative;
            height: 2.5rem;
            width: 10.2rem;
            margin-left: -0.2rem;
            background-color: rgb(0, 0, 50);
            /*border-radius: 8px;*/
            z-index: 15;
        }

            .nav-label{
                display: block;
                text-align: center;
                font-size: 2rem;
                font-weight: bolder;
                cursor: pointer; 
                width: 100%; 
                padding-top: 0rem;
            }

        .hide-dropdown{
            margin-top: -15rem;
        }

        .nav-dropdown{
            width: 10rem;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            transition: margin-top 0.7s;
            padding: 0.5rem;
            background-image: radial-gradient(blue, black);
            border: 2px solid yellow;
            border-radius: 5px; 
        }
            .dept-label{
                font-size: 1.2rem;
                font-weight: bolder;
                color: yellow;
                padding-bottom: 0.2rem;
            }

            .nav-dropdown a{
                font-size: 1.1rem;
                text-decoration: none;
                color: white;
                padding-bottom: 0.3rem;
            }

                .nav-dropdown a:hover{
                    text-decoration: none;
                    color: yellow;
                }

            .dept-container{
                padding-left: 1rem;
            } 

              /*  .dept-container a{
                    font-size: 1.1rem;
                    text-decoration: none;
                    color: white;
                    padding-bottom: 0.3rem;
                } */
/* End CSS for Nav */


/* CSS for page */
    .page{
        position: absolute;
        top: 0;
        left: 0;
        width: 99vw;
        height: 97vh; 
    	display: flex;
        justify-content: center;
        align-content: center;
        background-image: radial-gradient(blue, black);
        overflow-x: hidden; 
    }
        .transition-fade-in{ 
            transition: opacity 0.5s;
        }
        .close-html{
            position: absolute;
            top: 0;
            right: 0;
            cursor: pointer;
            color: black;
            border-radius: 5px;
            background-color: red;
            padding: 0 0.2rem;
            font-size: 1.5rem;
        }
        .close-html:hover{
            font-size: 1.6rem;
            font-weight: bold;
        }
        
        a{
            color: yellow;
        }
/* End CSS for page */

/* CSS for Home Page  */
	.home-page{
		overflow: hidden;
	}
    .home-page label{
        position: absolute;
        font-weight: bold;
        color: white;
        transition: top 1s, left 1s, right 1s, font-size 1s; 
    }
    .d-label-start{
        top: 50vh;
        left: 50%;
        font-size: 0vh;
    }

    .d-label-finish{
        top: 50%;
        left: 5%;
        font-size: min(9.5vh, 9.5vw);
    }

    .b-label-start{
        top: 50vh;
        left: 50%;
        font-size: 0vh;
    }

    .b-label-finish{
        top: 0.5em;
        left: 45%;
        font-size: min(9.5vh, 9.5vw);
    }

    .e-label-start{
        top: 50vh;
        right: 45%;
        font-size: 0vh;
    }

    .e-label-finish{
        top: 50%;
        right: 5%;
        font-size: min(9.5vh, 9.5vw);
    }

    .dbe-logo{
        position: absolute;
        top: min(50%, calc((20vh + 20vw)/2));
        width: min(50%, calc((30vh + 20vw)/2));/* 35%;*/
        z-index: 15;
    }
/* End of CSS for Home Page  */
