/*  Technician CSS for media Queries width= 22in plus: for
 *    1) technician.html
 */

@media only screen and (min-width: 22in) {
    
/* CSS for Technician page and contents */
    .page{
    	display: flex;
        flex-direction: column; 
        justify-content: center;
        align-content: center;
    }
    
    .welcome-label{
        padding-top: 0.2em;
        display: block;
        text-align: center;
        color: yellow;
    }
    .welcome-label{
        font-size: 3.5rem;
    }
}