/*  Technician CSS for media Queries width= 17in-22in: for 
 *    1) ceo.html
 */

@media only screen and (min-width: 17in) and (max-width: 22in) {
    
    /* CSS for Technician page */
        .page{
          /*  position: absolute;
            top: 0;
            left: 0;
            width: 99vw;
            height: 97vh; */
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-content: center;
          /*  background-image: radial-gradient(blue, black);*/
        }

        .welcome-label{
            padding-top: 0.2em;
            display: block;
            text-align: center;
            color: yellow;
        }
        .welcome-label{
            font-size: 3rem;
        }     
}