/*  Global NAV and HOME page  
 *      1) Global Navigation for: 
 *          a) ceo.html, computer.html, education.html   
 *          b) engineering.html, index.html, media_arts.html, technician.html 
 * 
 *      2) GLOBAL settings              20
 *      3) "Base" CSS for NAV:          44 
 *      4) Media Query (600px minus)
 *      5) Media Query [600px,750)
 *      6) Media Query [750px,900)
 *      7) Media Query [900px,1050)
 *      8) Media Query [1050px,1200)
 *      9) Media Query [1200px,1400)
 *      10) Media Query [1400px,. . .)
 *
 */

 /* CSS GLOBAL settings: */
    * {
        box-sizing: border-box;
        margin:0;
        padding:0; 
    }

    html, body {
        width:100vw;
        height: 100vh;
        font-size: 16px;
        font-family:  Arial, Helvetica, sans-serif;
        background-color:black;
    }
/*End CSS GLOBAL settings: */

    /* CSS for the mainContainer (class="mainCntnr") */
   /* .main-cntnr {
        width: 100%;
        height: 99vh;           Not sure where or if this is needed!
        overflow: hidden;
        background: black;
    }*/
    /* End CSS for mainContainer */

    /* BASE CSS for "NAV" */
    .nav-cntnr{
        position: relative;
        top: 0;
        color: yellow;
        z-index: 100;
    }
        .nav-label-container{
            position: relative;
            height: 2.5rem;
            width: 10.2rem;
            margin-left: -0.2rem;
            background-color: rgb(0, 0, 50);
            /*border-radius: 8px;*/
            z-index: 15;
        }
            .nav-label{
                display: block;
                text-align: center;
                font-size: 2rem;
                font-weight: bolder;
                cursor: pointer; 
                width: 100%; 
                padding-top: 0rem;
            }
        .hide-dropdown{
            margin-top: -15rem;
        }
        .nav-dropdown{
            width: 10rem;
            font-weight: bold;
            display: flex;
            flex-direction: column;
            transition: margin-top 0.7s;
            padding: 0.5rem;
            background-image: radial-gradient(blue, black);
            border: 2px solid yellow;
            border-radius: 5px; 
        }
            .dept-label{
                font-size: 1.2rem;
                font-weight: bolder;
                color: yellow;
                padding-bottom: 0.2rem;
            }
            .nav-dropdown a{
                font-size: 1.1rem;
                text-decoration: none;
                color: white;
                margin-bottom: 0.3rem;
            }
                .nav-dropdown a:hover{
                    text-decoration: none;
                    color: yellow;
                }
            .dept-container{
                padding-left: 1rem;
            } 
                .dept-container ul{
                    list-style: none;
                }
                .dept-container li{
                    font-size: 1.1rem;
                    text-decoration: none;
                    color: white;
                    margin-top: 0.3rem;
                } 
    /*End BASE CSS for "NAV" */


















    
    /* CSS for "HOME" page */
    .page{
        position: absolute;
        top: 0;
        left: 0;
        width: 99vw;
        height: 97vh; 
        display: flex;
        justify-content: center;
        align-content: center;
        background-image: radial-gradient(blue, black);
        overflow-x: hidden; 
    }
        .transition-fade-in{ 
            transition: opacity 0.5s;
        }
    .home-page{
        overflow: hidden;
    }
    .home-page label{
        position: absolute;
        font-weight: bold;
        color: white;
        transition: top 1s, left 1s, right 1s, font-size 1s; 
    }
    .d-label-start{
        top: 50vh;
        left: 50%;
        font-size: 0vh;
    }
    .d-label-finish{
        top: 50%;
        left: 5%;
        font-size: min(7.5vh, 7.5vw);
    }
    .b-label-start{
        top: 50vh;
        left: 50%;
        font-size: 0vh;
    }
    .b-label-finish{
        top: 1rem;
        left: calc(50vw - 2.8rem);
        font-size: min(7.5vh, 7.5vw);
    }
    .e-label-start{
        top: 50vh;
        right: 45%;
        font-size: 0vh;
    }
    .e-label-finish{
        top: 50%;
        right: 5%;
        font-size: min(7.5vh, 7.5vw);
    }
    .dbe-logo{
        position: absolute;
        top: min(50%, calc((20vh + 20vw)/2));
        width: min(50%, calc((30vh + 20vw)/2));/* 35%;*/
        z-index: 15;
    }
    /*End CSS for "HOME" page  */
 /*End CSS for "NAV and "HOME": */


 /* "BASE" CSS for GLOBAL "NAV": */