
/* CSS for Education page */
  /*  .welcome-label{
        position: absolute;
        top: -0.5em;
        display: block;
        text-align: center;
        color: yellow;
    }  */

    .page{
            position: absolute;
            top: 0; /*5.0em; */
            left: 0;/*1em*/
            width: 97vw;
            height: 99vh; /*83vh;*/ 
        /*	display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center; */
            padding: 0 1em;
            color: yellow;
         /*   border: 2px solid red; */
            overflow-y: scroll;
            overflow-x: hidden;
    }

    a{
        color: yellow;
    }
    
    /* End CSS for Education Page  */


    /* CSS for Article id="html-target-id" */
    /*
    .packet{
        position: absolute;
        top: 0.5em; 
        left: 19.7vw;
        width: 56vw;
        height: 90vh;
        opacity: 1;
        z-index: 10;
        transition: opacity 1s;
        font-size: 1.5em;
        font-weight: bold;
        color: yellow;
        background-image: radial-gradient(blue, black);
        border: 2px solid yellow;
        border-radius: 10px;
        padding: 0 1em;
        overflow-y: scroll;
    }
    .packet-label{
        font-size: 1.8em;
        font-weight: bold;
    }


    .close-html{
        position: absolute;
        top: 0;
        right: 0; 
        margin: 0.1em;
        cursor: pointer;
        color: black;
        border: 1px solid black; 
        border-radius: 5px;
        background: red;
        padding: 0 0.2em;
        font-size: 1.2em;
    }

    .close-html:hover{
        font-size: 1.25em;
        font-weight: bold;
    } */