/*  base CSS for: 
 *    1) education.html
 */

/* CSS for page & edu  contents */ 
    .page{
          display: flex;
          flex-direction: column; 
          justify-content: center;
          align-content: center;
    }
    .nav-label-container{
        border: 1px solid olivedrab;
    }

    .nav-container{
        position: absolute;
        top: 0;
        left: 0;
        width: 99.5vw;
        height: 97vh;
        background-image: radial-gradient(blue, black);
        overflow: hidden;
    }
    
    .edu-contents{
        position: absolute;
        top: 2.6rem; 
        left: 2rem;
        right: 2rem;
        height: 99vh; 
        color: black;
        font-size: 1.5rem;
        padding: 1rem;
        opacity: 1;
        background-image: url("media/imgs/low-noise-darker.png"); 
      /*  background-image: radial-gradient(blue, black);*/
        overflow-x: hidden; 
        overflow-y: scroll;
        border: 4px solid green;
        z-index: 5;
    }
        .transition-0-1{
            transition: opacity 0.7s;
        }
        
        .transition-1-0{
            transition: opacity 0.2s;
        }
/*End CSS page & edu  contents */ 
   
/* 	CSS for Videos, Datasheets, Packets, Training & Testing Nav */
    /* CSS for Videos & Datasheets */
    .videos-datasheets-container{
        position: absolute;
        top: 0.2rem;
        left: 13rem;
        width: 44vw;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0.3rem 1rem;  
        background-color: rgb(0, 0, 50);
        z-index: 10;
    }
        .videos-label-container, .datasheets-label-container{
            color: yellow;
            cursor: pointer; 
            z-index: 20;
        }
            .packets-label, .videos-label, .datasheets-label{
                font-size: 1.3rem;/*1.5rem*/
                font-weight: bold;
                cursor: pointer; 
                height: 7rem; 
                width: 6rem; /*12rem */ 
                padding: 0 0.2rem;/* 1.5rem */ 
                background-color: black;
            }  
    /*End CSS for Videos & Datasheets */

    /*CSS for Packets */
    .packets-container{
        position: absolute;
        top: 0; 
        right: 1rem;
        width:  7rem;
       /* height: 8vh;*/
        background-color: black;
        z-index: 20;
    }
        .packets-label-container{
            position: relative;
            height: 100%;
            color: yellow;
            cursor: pointer; 
            font-size: 1.6rem;
            font-weight: bold;
            padding-top: 0.3rem;
            background-color: rgb(0, 0, 50);
            z-index: 15;
        }
            
        .packets-dropdown{
            position: relative;
            font-size: 1rem;
            font-weight: bold;
            width: 100%;
            color: white;
            display: flex;
            flex-direction: column;
            transition: margin-top 0.7s;
            padding: 0.5rem 0.5rem;
            background-image: radial-gradient(blue, black);
            border: 2px solid yellow;
            border-radius: 5px; 
            z-index: 5;
        }
            .packets-dropdown ul{
                list-style-type: none;
                margin-left: 1rem;
            }
            .hide-packets-dropdown{
                margin-top: -30rem; 
            }
    /*End CSS for Packets */

    /* CSS for Training & Testing Tabs */
    .training-container{
        position: absolute;
        bottom: 10vh;
        left: 0;
      /*  width: 13rem; */
        color: yellow;
        z-index: 10;
       /* border: 1px solid red; */
    }
        .training-label-container, .testing-label-container{
            position: relative;
            cursor: pointer; 
        	width: 2rem;
            height: 100%;
            padding-right: 0.02rem; 
            background-color: rgb(0, 0, 50); 
            border: 1px solid rgb(228, 38, 76); 
            z-index: 15;
        }          
            .training-label, .testing-label{
                font-size: 1.5rem;
                font-weight: bold;
                cursor: pointer; 
                writing-mode: vertical-lr;
                text-orientation: upright;
              /*  padding-bottom: 20rem; */
                z-index: 15;
            }

        .training-dropdown{
            position: absolute;
            top: 0;
            left: 2rem;
            font-size: 1.3rem;
            font-weight: bold;
            width: 11rem;
            color: white;
            display: flex;
            flex-direction: column;
            transition: margin-left 0.7s;
            padding: 1rem 2rem;
            background-image: radial-gradient(blue, black);
            border: 2px solid yellow;
            border-radius: 5px; 
            z-index: 5;
        }
            .training-dropdown ul,
            .testing-dropdown ul{
                list-style-type: none;
            }
            .training-dropdown ul li,
            .testing-dropdown ul li{
                margin-bottom: 0.5em;
            }
            .hide-training-dropdown{
                margin-left: -12rem; 
            }


    .testing-container{
        position: absolute;
        bottom: 10vh;
        right: 0; /* -8.5rem;*/
        /*  width: 11rem; */
        color: yellow;
        z-index: 10;
        /*  border: 5px solid red; */
    }
        .testing-dropdown {
            position: absolute;
            top: 0;
            left: -11rem;
            font-size: 1.3rem;
            font-weight: bold;
            width: 11rem;
            color: white;
            display: flex;
            flex-direction: column;
            transition: margin-left 0.7s;
            /*  transition: margin-bottom 0.7s; */
            padding: 1rem 2rem;
            background-image: radial-gradient(blue, black);
            border: 2px solid yellow;
            border-radius: 5px; 
            z-index: 6;
        }

            .hide-testing-dropdown{
                margin-left: 12.5rem; 
            }
                .packets-dropdown li,
                .training-dropdown li, 
                .testing-dropdown li{
                    margin-left: -1rem;
                    margin-bottom: 0.3rem;
                    cursor: pointer;
                }
                .packets-dropdown li:hover,
                .training-dropdown li:hover, 
                .testing-dropdown li:hover{
                    color: yellow;
                }

    /*End CSS for Training & Testing Tabs  */


    /*CSS for Training Contents  */
        /*CSS for Training Codes  */
      /*   .main-container{
           color: black; 
            display: flex;
            flex-direction: column;
            width: 100vw;
            justify-content:flex-start;
            align-items: center;
            background-image: url("media/imgs/low-noise-darker.png"); 
            border: 3px solid orange;
            margin: 2px;
            padding: 2px;
        }*/
           /* .main-heading{
                color: white;
                font-size: 1.5em;
            }*/

            .tabs-container{
                position: fixed;
                top: 7vh;
                left: 2rem;
                right: 2rem;
                display: flex;
                flex-direction: row;
                justify-content:space-around; 
                padding: 0.5em 0; 
               /* height: 4rem; 
                width: 90vw;*/
                background-image: radial-gradient(blue, black);
                border: 1px solid yellow; 
                overflow: hidden;
                z-index: 40;
            }
                .tab-background-general{
                    width: 100vw;
                    margin-left: 13.5vw;
                  /*  background-image: radial-gradient(blue, black);*/
                }

                .tab{
                    font-size: 1em;
                    font-weight: bold; 
                    cursor: pointer;
                }
                .unselected-tab{
                    color: white;
                    opacity: 0.7;
                }
                .selected-tab{
                    color: yellow;
                    opacity: 1; 
                } 

            .body-container{
                position: relative;
                top: 6vh;
                left: -2vw;
                width: 88vw;
                height: 90vh;
                border: 5px solid blue;
            }
                .contents{
                    position: absolute;
                    top: 1vh;/* 0;*/
                   /* left: 0;
                    width: 50vw;*/
                   /* height: 90vh;*/
                    margin: 0 1rem;
                   /* padding: 0.5em; */
                    padding-bottom: 5rem;
                 /*   background-image: url("media/imgs/low-noise-darker.png"); 
                    background-image: radial-gradient(blue, black);
                    color: black;*/
                    z-index: 2;
                  /*  border: 3px solid red; */
                }
                .selected-contents{
                    display: block;
                }
                .unselected-contents{
                    display: none;
                }
              /*  .boundry_container-0{
                    position: relative;
                    left: 0;
                    height: 4em;
                }
                .boundry{
                    height: 4em;
                }
                .boundry_container-3{
                    position: relative;
                    right: 0;
                    height: 4em;
                    border: 2px solid red;
                } */

            .introduction-contents,
            .example-contents,
            .computer-contents{
                font-size: 1.1em;
                font-weight: bold;
                width: 95vw;
                padding-right: 5em;
                margin-bottom: 3em;
                text-indent: 3rem;
              /*  background-image: radial-gradient(blue, black); */
              border: 2px solid yellow;
            }
            .introduction-contents h1,
            .example-contents h1,
            .computer-contents h1{
                display:block;
                font-size: 2rem;
                font-weight: bold;
                text-align: center;
            }
                p{
                    margin-top: 0.5rem;
                }

            .introduction-contents a{
                color: yellow;
            }
            .samuel-morse-key{
                background-color: white;
            }
            .secret-message-audacity{
                margin-bottom: 16rem;
            }

            .audio-sos,
            .audio-secret-message{
                width: 100%;
                padding-left: 2rem;
            }


        /*End CSS for Training Codes  */


    /*End CSS for Training Contents  */
