/*  base CSS for: 
 *    1) EDU.html
 */

/* CSS for edu page and contents */ 
    .page{
          display: flex;
          flex-direction: column; 
          justify-content: center;
          align-content: center;
    }
    .nav-container{
        position: absolute;
        top: 0;
        left: 0;
        width: 99.5vw;
        height: 97vh;
        background-image: radial-gradient(blue, black);
   	  /*  border: 2px solid blue; */
        overflow: hidden;
    }
    
    .edu-contents{
        position: absolute;
        top: 3rem; 
        left: 2rem;
        right: 2rem;
        height: 90vh; 
        color: yellow;
        font-size: 1.5rem;
        padding: 1rem;
        opacity: 1;
        background-image: radial-gradient(blue, black);
        overflow-x: hidden; 
        border: 4px solid green;
        z-index: 1;
    }
    
    .transition-0-1{
        transition: opacity 0.7s;
    }
    
    .transition-1-0{
        transition: opacity 0.2s;
    }
/*End CSS for edu page and contents */ 
   
/* 	CSS for Packets, Videos, Datasheets, Training & Testing Nav */


    .training-container{
        position: absolute;
        bottom: 10vh;
        left: 0;
      /*  width: 13rem; */
        color: yellow;
        z-index: 10;
       /* border: 1px solid red; */
    }
    .testing-container{
        position: absolute;
        bottom: 10vh;
        right: 0; /* -8.5rem;*/
      /*  width: 11rem; */
        color: yellow;
        z-index: 10;
      /*  border: 5px solid red; */
    } 

    .packets-videos-datasheets-container{
        position: absolute;
        top: 0.3rem;
        left: 13rem;
        width: calc(95vw - 13rem);
        height: 2.5rem;
      /*  margin-left: 20vw; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
      /*  border: 3px solid red; */ 
        background-color: rgb(0, 0, 50);
        z-index: 40;
       /* background-image: radial-gradient(blue, black);*/
    }
        .packets-container, .videos-label-container, .datasheets-label-container{
            position: relative;
            top: 0; 
            height: 100%;
            color: yellow;
            cursor: pointer; 
            font-size: 1.5rem;
            font-weight: bolder;
           /* border: 3px solid green; */
            z-index: 15;
        }
        .packets-label-container{
            margin-top: 0.3rem
        }
        .training-label-container, .testing-label-container{
            position: relative;
            cursor: pointer; 
        	width: 2rem;
            height: 100%;
            padding-right: 0.02rem; 
            background-color: rgb(0, 0, 50); 
         /*   border: 3px solid green; */
            z-index: 15;
        }
            .packets-label, .videos-label, .datasheets-label{
               /* font-size: 1.5rem;
                font-weight: bolder;
                cursor: pointer; */
            /*	height: 3rem; */
            /*	width: 12rem; */
            /*   padding-top: 0.5rem; 
                padding: 0 1rem; */
            /*	background-color: black; */
            /*	border: 3px solid orange; */ 
              /*  z-index: 15;*/
            }            
            .training-label, .testing-label{
                font-size: 1.5rem;
                font-weight: bolder;
                cursor: pointer; 
                writing-mode: vertical-lr;
                text-orientation: upright;
              /*  padding-bottom: 20rem; */
                z-index: 15;
            }

        .hide-packets-dropdown{
            margin-top: -17rem; 
        }
        .hide-videos-dropdown{
            margin-top: -14rem; 
        }
        .hide-datasheets-dropdown{
            margin-top: -21rem; 
        }
        .hide-training-dropdown{
            margin-left: -13rem; 
        }
        .hide-testing-dropdown{
            margin-left: 13rem; 
        }

        .packets-dropdown, .videos-dropdown, .datasheets-dropdown{
            position: relative;
            font-size: 1.3rem;
            font-weight: bold;
            color: white;
            display: flex;
            flex-direction: column;
            transition: margin-top 0.7s;
          /*  transition: margin-bottom 0.7s; */
            padding: 0 0.5rem;
            background-image: radial-gradient(blue, black);
            border: 2px solid yellow;
            border-radius: 5px; 
            z-index: 5;
        }
        .training-dropdown{
            position: absolute;
            top: 0;
            left: 1.5rem;
            font-size: 1.3rem;
            font-weight: bold;
            width: 10rem;
            color: white;
            display: flex;
            flex-direction: column;
            transition: margin-left 0.7s;
            padding: 0 0.5rem;
            background-image: radial-gradient(blue, black);
            border: 2px solid yellow;
            border-radius: 5px; 
            z-index: 5;
        }
        .testing-dropdown {
            position: absolute;
            top: 0;
            left: -11.2rem;
            font-size: 1.3rem;
            font-weight: bold;
            width: 10rem;
            color: white;
            display: flex;
            flex-direction: column;
            transition: margin-left 0.7s;
          /*  transition: margin-bottom 0.7s; */
            padding: 0 0.5rem;
            background-image: radial-gradient(blue, black);
            border: 2px solid yellow;
            border-radius: 5px; 
            z-index: 5;
        }
        .datasheets-dropdown{
            width: 8rem;
        }
        .datasheets-dropdown label,
        .training-dropdown label,
        .testing-dropdown label{
            margin-left: -1.5rem;
            font-size: 1.1rem;
            font-weight: bolder;
            color: yellow;

        }
            .packets-dropdown li, 
            .videos-dropdown li, 
            .datasheets-dropdown li, 
            .training-dropdown li, 
            .testing-dropdown li{
                margin-left: -1rem;
                margin-bottom: 0.3rem;
                cursor: pointer;
            }
            .edu-nav-dropdown ul{
                margin-left: -0.5rem;
                padding-right: 0.5rem;
            }
            .packets-dropdown li:hover, 
            .videos-dropdown li:hover, 
            .datasheets-dropdown li:hover, 
            .training-dropdown li:hover, 
            .testing-dropdown li:hover{
                color: yellow;
            }

/*End CSS for Packets, Videos, Datasheets, Training & Testing Nav */


/* CSS for Article id="html-target-id" */
        /*
        .packet{
            position: absolute;
            top: 0.5rem; 
            left: 19.7vw;
            width: 56vw;
            height: 90vh;
            opacity: 1;
            z-index: 10;
            transition: opacity 1s;
            font-size: 1.5rem;
            font-weight: bold;
            color: yellow;
            background-image: radial-gradient(blue, black);
            border: 2px solid yellow;
            border-radius: 10px;
            padding: 0 1rem;
            overflow-y: scroll;
        }
        .packet-label{
            font-size: 1.8rem;
            font-weight: bold;
        }
     */