/*  Technician CSS for media Queries width= 11in-17in: for
 *    1) technician.html
 */

@media only screen and (min-width: 11in) and (max-width: 17in) {

/* CSS for page & edu contents */
.edu-contents{
    top: 3rem;
}
/*End CSS for page & edu contents */

   
/* 	CSS for Videos, Datasheets, Packets, Training & Testing Nav */
    /* CSS for Videos & Datasheets */
    .videos-datasheets-container{
        width: 60vw;
    }
            .packets-label, .videos-label, .datasheets-label{
                font-size: 1.9rem;
                width: 12rem; 
                padding: 0 1.5rem;
            }  
     
    /*End CSS for Videos & Datasheets */

    /*CSS for Packets */
    .packets-container{
        right: 5rem;
        width:  9rem;
        padding-top: 0.1em; /* new */
    }       
        .packets-dropdown{
            font-size: 1.3rem;
        }
    
    /*End CSS for Packets */   

    
    /* CSS for Training & Testing */       
            .training-label, .testing-label{
                font-size: 1.7rem;
            }

    .training-dropdown{
        font-size: 1.4rem;
        width: 11.5rem;
    }
    .testing-dropdown{
        font-size: 1.4rem;
        width: 11.5rem;
        left: -11.49rem;
    }

    /*End CSS for Training & Testing */

/*End CSS for Videos, Datasheets, Packets, Training & Testing Nav */

}
