/* CSS for media Queries width= [1400px plus)": 
/  for education.html
 */
/* (170px/in for my Acer laptop)    */
@media only screen and (min-width: 1400px){
    .ben-eater-videos-header{
        font-size: 2.9rem;
    } 
    .be-mod-header{
        font-size: 2.6rem;
    }  
    .be-sub-labels{
        font-size: 2.4rem;
    }
    .be-ol-type-1{
        font-size: 2.2rem;
    }
    .be-sub-labels-ol{
        font-size: 2.2rem;
    }
}