/*  Education CSS for media Queries width= 17in-22in: for
 *    1) education.html
 */

@media only screen and (min-width: 17in) and (max-width: 22in) {
	
/* CSS for page & edu contents */
.edu-contents{
    top: 3.3rem;
}
     
/*End CSS for page & edu contents */

   
/* 	CSS for Videos, Datasheets, Packets, Training & Testing Nav */
    /* CSS for Videos & Datasheets */
    .videos-datasheets-container{
        width: 65vw;
    }
            .packets-label, .videos-label, .datasheets-label{
                font-size: 2.2rem;
                width: 12rem; 
                padding: 0 1.5rem;
            }  
     
    /*End CSS for Videos & Datasheets */

    /*CSS for Packets */
    .packets-container{
        right: 7rem;
        width:  11rem;
    }       
        .packets-dropdown{
            font-size: 1.6rem;
        }
    
    /*End CSS for Packets */    

    
    /* CSS for Training & Testing */       
            .training-label, .testing-label{
                font-size: 1.9rem;
            }

    .training-dropdown{
        font-size: 1.5rem;
        width: 12rem;
    }
    .testing-dropdown{
        font-size: 1.5rem;
        width: 12rem;
        left: -12rem;
    }

    /*End CSS for Training & Testing */  
/*End CSS for Videos, Datasheets, Packets, Training & Testing Nav */

}
